@import 'base/variables';
@import 'base/extends';
@import 'base/mixinds';
@import 'components/footer';
@import 'components/header';
@import 'components/beneficios';
@import 'components/main';
@import 'components/pantalladividida1';
@import 'components/pantalladividida2';
@import 'components/diseñografico';
@import 'components/gestionderedes';
@import 'components/marketing';



body {
    background-color: black;
    font-family: 'Montserrat';
}

/*  HTML/SEC */



.h2-tittlee {
    width: 100%;   
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.h2-tittlee h2 {
    font-weight: bold;
    font-size: 50px;
}

.section-form {
    display: flex;
    padding-top: 50px;
}

.titulo-contratacion {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    padding-bottom: 100px;

}

.form-container {
    height: 80vh;
    width: 50%;
}



.img-container {
    width: 50%;
    height: 50%;
}

/*  HTML/SEC */


.h2-tittle {
    width: 100%;   
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.contenedor-1 {
    background-color: black;
}

.cotenedor-descripcion {
    display: flex;
    margin-top: 80px;
    margin-left: 30px;
}



.text-descripcion {
    padding-left: 15px;
    padding-right: px;
    font-size: 25px;
}

.img-descripcion {
    height: 500px;
}

/* TITULOS DE SECCIONES */

.container-titulo {
    text-align: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 0 150px;
    margin-top: 50px;
}



/* MAIN */

.text-h1 {
    text-align: center;
    color: black;
}

.h1-tittle {
    color: black;
}



