@import 'base/variables';
@import 'base/extends';
@import 'base/mixinds';
@import 'components/footer';
@import 'components/header';





/* TITULOS DE SECCIONES */

.container-titulo {
    @extend %titulos-secciones;
}

/* FORMS */

.section-form {
    padding: 150px 0;
}

/* MAIN */

.text-h1 {
    text-align: center;
    color: black;
}

.h1-tittle {
    color: black;
}