



header {
    .contenedor-gestion {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    }
    .img-header-gestion {
        height: 800px;
        background-image: url(/Multimedia/Imagenes/img-header-cm.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        color: white;
            h1 {
                font-size: 40;
                margin-bottom: 20px;
            }
            .contenedor-textos-gestion {
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                    
            }
            .boton-gestion {
                        width: 150px;
                        display: block;
                        margin: 0 auto;
                        padding: 15px 0;
                        background-color: chocolate;
                        color: white;
                        text-decoration: none;
                        border-radius: 20px;
            }
            p {
                font-size: 20px;
                margin-bottom: 40px;
            }
    }
}
