.h2-tittle {
    width: 100%;   
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor-1 {
    background-color: black;
}

.cotenedor-descripcion {
    display: flex;
    margin-top: 80px;
    margin-left: 30px;
}



.text-descripcion {
    padding-left: 15px;
    padding-right: px;
    font-size: 25px;
}

.img-descripcion {
    height: 500px;
}

/* TITULOS DE SECCIONES */

.container-titulo {
    text-align: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 0 150px;
    margin-top: 50px;
}

/* FORMS */

.section-form {
    padding: 150px 0;
}

/* MAIN */

.text-h1 {
    text-align: center;
    color: black;
}

.h1-tittle {
    color: black;
}